<%- include("../views/partials/bar.ejs",{ title: "Chat", css: "chat.css" }) %>

<main selfId="<%= selfId %>">
    <section class="chat shadow">
        <section class="friends">
            <div class="searchChat">
                <label for="searchChat"><i class="fi fi-rr-search"></i></label>
                <input class="text sm textPrimary" type="text" id="searchChat" placeholder="Buscar chat...">
            </div>
            <div class="chatProfiles">
                <% for( const chat of chats ) { %>
                    <button id="chatProfile" class="chatProfile" chatId="<%= chat._id %>" userId="<%= chat.user._id %>">
                        <div>
                            <div>
                                <img class="shadow" src="/images/profiles/<%= chat.user.picture %>">
                            </div>
                            <div>
                                <span class="chatName"><%= chat.user.name %> <%= chat.user.lastname %></span>
                                <span><% if (chat.lastMsg.sender.toString() == selfId) { %><i class="fi fi-sr-bullet"></i> <% } %><%= chat.lastMsg.msg %></span>
                            </div>
                        </div>
                        <div class="deleteChat">
                            <span><i class="fi fi-sr-trash-xmark"></i></span>
                        </div>
                    </button>
                <% } %>
            </div>
        </section>

        <section class="conversation">
            <div id="messages" class="messages">
                <% if (!initChatProfile) { %>
                    <span class="notChat"><i class="fi fi-sr-hand-wave"></i> Da click en un chat para comenzar a conversar...</span>
                <% } %>
            </div>
                
            <div class="newMsg">
                <input id="newMsgInput" class="text sm textLight" type="text" placeholder="Mensaje...">
                <button id="btnSendMsg"  idReceiver="<% if(initChatProfile){ %><%= initChatProfile._id %><% } %>" class="btn sm btnDark2"><i class="fi fi-rr-paper-plane"></i></button>
            </div>
        </section>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat/chat.js"></script>