<%- include('../partials/bar.ejs',{barProfile , title: "Perfil", css: "user/profile.css"}) %>
<main>
    <section class="box shadow infoProfile">
        <div class="info">
            <img class="shadow" id="pubImg" num="0" src="/images/profiles/<%= profile.picture %>" alt="Profile">
            <div>
                <span><%= profile.name %> <%= profile.lastname %></span>
                <span><span id="followersNum"><%= follows.followers.length %></span> Seguidores - <span id="followingNum"><%= follows.following.length %></span> Seguidos</span>
            </div>
        </div>
        <div class="control">
            <% if (profile._id.toString() != selfId.toString()) { %>
                <% if (!isFollow) { %>
                    <button id="follow" profileId="<%= profile._id %>" selfId="<%= selfId %>" class="btn md btnAccent">Seguir</button>
                <% } else { %>
                    <button id="follow" profileId="<%= profile._id %>" selfId="<%= selfId %>" class="btn md btnPrimary">Siguiendo</button>
                <% } %>
            <% } %>
            <button class="btn md btnDark2"><i class="fi fi-rr-comment"></i></button>
            <button class="btn md btnDark2"><i class="fi fi-rr-menu-dots-vertical"></i></button>
        </div>
    </section>
    <section id="sections" class="box shadow navContent">
        <button class="btn sm btnPrimary"><i class="fi fi-rr-clock"></i>Publicaciones</button>
        <button class="btn sm btnLight2"><i class="fi fi-rr-picture"></i>Fotos</button>
        <button class="btn sm btnLight2">Seguidores</button>
        <button class="btn sm btnLight2">Seguidos</button>
    </section>
    <% if (publications.length > 0) { %>
        <section class="pubs" id="section">
            <% publications.forEach(publication => { %>
                <%- include("../partials/publication.ejs",{publication, self: true}) %>
            <% }) %>
        </section>        
    <% } else { %>
        <section class="box shadow" id="section">
            <p>Nada que mostrar</p>
        </section>
    <% } %>
    <section class="box shadow gallery" id="section" style="display: none;">
        <% let ifPhoto = false %>
        <% publications.forEach(publication => { %>
            <% publication.multimedia.forEach((media, index) => { %>
                <% ifPhoto = true %>
                <img id="pubImg" num="<%= index %>" src="/images/publications/<%= media %>" alt="">
            <% }) %>
        <% }) %>
        <% if (!ifPhoto) { %>
            <p>Nada que mostrar</p>
        <% } %>
    </section>
    <section class="box shadow follows" id="section">
        <% if (follows.followers.length < 1) { %>
            <p>Nada que mostrar</p>
        <% } else { %>
            <% follows.followers.forEach((followers) => { %>
                <a href="/user/profile/<%= followers._id %>"><img class="shadow" src="/images/profiles/<%= followers.picture%>"><span><%= followers.name %> <%= followers.lastname %></span></a>
            <% }) %>
        <% } %>
    </section>
    <section class="box shadow follows" id="section">
        <% if (follows.following.length < 1) { %>
            <p>Nada que mostrar</p>
        <% } else { %>
            <% follows.following.forEach((following) => { %>
                <a href="/user/profile/<%= following._id %>"><img class="shadow" src="/images/profiles/<%= following.picture%>"><span><%= following.name %> <%= following.lastname %></span></a>
            <% }) %>
        <% } %>
    </section>
</main>

<%- include("../partials/slider.ejs") %>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/user/profile.js"></script>