<%- include('../partials/bar.ejs',{barProfile , title: "Perfil", css: "user/profile.css"}) %>

<main>
    <section class="box shadow infoProfile">
        <div class="info">
            <img class="shadow" src="/images/profiles/<%= profile.picture %>" alt="Profile">
            <div>
                <span><%= profile.name %> <%= profile.lastname %></span>
                <span>50 Seguidores 30 Seguidos</span>
            </div>
        </div>
        <div class="control">
            <button class="btn md btnAccent">Seguir</button>
            <button class="btn btnDark2"><i class="fi fi-rr-comment"></i></button>
            <button class="btn btnDark2"><i class="fi fi-rr-menu-dots-vertical"></i></button>
        </div>
    </section>
    <section class="box shadow navContent">
        <button class="btn sm btnLight2"><i class="fi fi-rr-clock"></i>Publicaciones</button>
        <button class="btn sm btnLight2"><i class="fi fi-rr-picture"></i>Fotos</button>
    </section>
    <section class="pubs">
        <% publications.forEach(publication => { %>
            <%- include("../partials/publication.ejs",{publication, self: true}) %>
        <% }) %>
    </section>
</main>