    <%- include('../partials/bar.ejs',{title: "Home", css: "main/home.css"}) %>
    
    <main selfId="<%= selfId %>">
        <section class="friends">
            <div class="mine">
                <a href="/user/profile/<%= profile._id %>"><img class="shadow" src="/images/profiles/<%= profile.picture %>" alt=""><%= profile.name %> <%= profile.lastname %></a>
            </div>
            <div class="follows">
                <span>Siguiendo</span>
                <% if (followings.length == 0) { %>
                    <p>Aun no sigues a nadie...</p>
                <% } else { %>
                    <% for(const person of followings){ %>
                        <a href="/user/profile/<%= person._id %>"><img class="shadow" src="/images/profiles/<%= person.picture %>"><%= person.name %> <%= person.lastname %></a>
                    <% } %>
                <% } %>
            </div>
        </section>
        <section class="posts">
            <!-- NUEVA PUBLICACION -->
            <form class="newPost shadow" action="/publication/new" method="post" enctype="multipart/form-data">
                <div class="data">
                    <div>
                        <label for="description"><i class="fi fi-sr-paw"></i></label>
                        <textarea class="text sm textPrimary" type="text" name="description" id="description" placeholder="Nueva publicacion..." rows="1"></textarea>
                    </div>
                    <div>
                        <label for="multimedia"><i class="fi fi-rr-picture"></i>Foto/video</label>
                        <input type="file" name="multimedia" id="multimedia" src="" alt="" multiple accept=".png, .jpg, .jpeg, .mp4, .wav">
                    </div>
                </div>
                <div id="gallery"></div>
                <div id="postSubmit">
                    <button type="reset" class="btn sm btnAlert">Cancelar</button>
                    <input class="btn sm btnSuccess" type="submit" value="Publicar">
                </div>
            </form>
            <!-- MI ULTIMA PUBLICACION -->
            <div class="pubs">
                <% if (lastPublications.length > 0) { %>
                    <div class="pubsTitle">
                        <h1>Ultima publicacion:</h1>
                    </div>
                    <% lastPublications.forEach(publication => { %>
                        <%- include('../partials/publication.ejs', { publication, self: true }) %>
                    <% }) %>
                <% } %>
                <!-- PUBLICACIONES DE QUIENES SIGO --> 
                <% if (followingPublications.length > 0) { %>
                    <div class="pubsTitle">
                        <h1>Quienes sigues:</h1>
                    </div>
                    <% for(const publication of followingPublications) { %>
                        <%- include('../partials/publication.ejs', { publication , self: false }) %>
                    <% } %>
                <% } %>
                <!-- PUBLICACIONES GENERALES -->
                <% if (generalPublications.length > 0) { %>
                    <div class="msgFinish pubsTitle">
                        <span><i class="fi fi-sr-check-circle"></i> Estas al dia</span>
                    </div>
                    <% for(const publication of generalPublications) { %>
                        <%- include('../partials/publication.ejs', { publication, self: false }) %>
                    <% } %>
                <% } %>
            </div>
        </section>
        <section class="today">
            <a class="btn md btnAccent" href="">¡Adopta!</a>
            <% if( moreLikePhoto ) { %>
                <div class="shadow">
                    <span>Foto del dia:</span>
                    <img id="pubImg" num="0" class="shadow" src="/images/publications/<%= moreLikePhoto.multimedia[0] %>" alt="">
                    <div class="by" pubId="<%= moreLikePhoto._id %>" selfId="<%= selfId %>">
                        <span>De: <a href="/user/profile/<%= moreLikePhoto.user._id %>"><%= moreLikePhoto.user.name %> <%= moreLikePhoto.user.lastname %></a></span>
                        <button id="like"><i <% if(moreLikePhoto.isLiked) { %>class="liked fi fi-sr-heart"<% } else { %>class="fi fi-rr-heart"<% } %> ></i></button>
                    </div>
                </div>
            <% } %>
            <div class="shadow">
                <span>Tips:</span>
                <p><%= tip %></p>
            </div>
        </section>
    </main>

    <%- include("../partials/slider.ejs") %>
    <%- include("../partials/comments.ejs") %>
    <!-- MI ULTIMA PUBLICACION -->
    <script src="/socket.io/socket.io.js"></script>
    <script>var socket = io();</script>
    <script src="/javascripts/main/index.js"></script>
    <script src="/javascripts/partials/publication.js"></script>
    <script src="/javascripts/partials/comments.js"></script>
</body>
</html>